<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h1> Statistics </h1>
        <table border="1">
            <th>Mehod</th><th>Count</th>
            {% for key, value in counts.items() %}
                <tr>
                    <td> {{key}} </td>
                    <td> {{value}} </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <form action="/">
            <input type="submit" value="Back to main page">
        </form>
    </body>
</html>
